name: Wait for Vercel

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: [ubuntu-latest]
    name: Test Wait for Vercel
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
      - name: Wait for Vercel
        id: wait-for-vercel
        uses: ./
        with:
          token: ${{ secrets.VERCEL_TOKEN }}
          project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          sha: 083a2dd02cdb9a4d306a70eee3a1cf773d1fe038
      - name: Show output
        run: |
          echo '${{ toJSON(step.wait-for-vercel.outputs) }}'
        shell:
          bash
